<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Project</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  
  

  <!-- Main CSS File -->
  <link href="/static/assets/css/main.css" rel="stylesheet">

 
</head>

<body class="project-page">

  <header id="header" class="header d-flex align-items-center light-background sticky-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">jerry</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
         <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>
          <li><a href="{{url_for('resume')}}">Resume</a></li>
          <li><a href="{{url_for('services')}}">Services</a></li>
          <li><a href="{{url_for('project')}}" class="active">project</a></li>
          <li><a href="{{url_for('contact')}}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <div class="header-social-links">
        <a href="https://x.com/?lang=en" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://in.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header>

  <main class="main">

    <!-- Project Section-->
    <section id="project" class="project section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Project</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 isotope-container text-center" data-aos="fade-up" data-aos-delay="200">
              
          <div class="col-lg-4 col-md-6 project-item isotope-item filter-branding">
            <img src="/static/assets/img/pexels-photo-3584998.webp" class="img-fluid " alt="">
            <div class="project-info">
              <h4>Bank Security System</h4>
            
            </div>
          </div><!-- End project Item -->
             
          <div class="col-lg-4 col-md-6 project-item isotope-item filter-branding ">
            <img src="/static/assets/img/icon.png" class="img-fluid project-image" alt="">
            <div class="project-info">
              <h4>Paper-Grid-webclone</h4>
            
            </div>
          </div><!-- End project Item -->

            <div class="col-lg-4 col-md-6 project-item isotope-item filter-branding">
              <img src="/static/assets/img/zomato.jpg" class="img-fluid" alt="">
              <div class="project-info">
                <h4>Zomato-webclone</h4>
              
              </div>
            </div><!-- End project Item -->

            

          </div><!-- End project Container -->

        </div>

      </div>

    </section><!-- /project Section -->

  </main>

  <footer id="footer" class="footer light-background">

    <div class="container">
      
      <div class="social-links d-flex justify-content-center">
        <a href="https://x.com/?lang=en"><i class="bi bi-twitter-x"></i></a>
        <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
        <a href="https://in.linkedin.com"><i class="bi bi-linkedin"></i></a>
      </div>
     
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>